<main>
    <h1>Profile</h1>
    <ul>
      <li>Username: <%= user.username %></li>
      <li>Name: <%= user.name %></li>
      <li>Surname: <%= user.surname %></li>
      <li>Email: <%= user.email %></li>
      <li>University: <%= user.university %></li>
      <li>Degree: <%= user.degree %></li>
      <li>Subject: <%= user.subject %></li>
      <li>Year of Study: <%= user.year_of_study %></li>
    </ul>
  </main>
  